<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://123jiakao.znsite.cn/kjx/iosjiakao.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://123jiakao.znsite.cn/kjx/jiakao.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://123jiakao.znsite.cn/kjx/jiakao.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>jiakao.com</string>
				<key>bundle-version</key>
				<string>0.0.45</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>123驾考下载中</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
